/* Citations */
cite {
    color: #666;
    font-size: 12pt;
}
cite:before {
    content: '[';
}
cite:after {
    content: ']';
}

bibliography li {
    list-style: none;
}

bibliography li span.month {
    margin-right: 5px;
}

span.ref {
    margin-right: 10px;
}
span.ref:before {
    content: '[';
}
span.ref:after {
    content: ']';
}

span.authors {
    
}

span.title {
    font-style: italic;
}